<%= link_to 'all products', admin_product_path %>
<div>
<h5><%= @product.name %></h5>
</div>

<div>
<h5><%= @product.price %></h5>
</div>

<div>
<h5><%= @product.user.first_name %></h5>
</div>

<div>
  <% if @product.images.present? %>
    <%= image_tag @product.images[0].url ,style: "width: 100px; display: block" %>
  <% end %>
</div>


<% @product.subcatagories.each do |subcatagory| %>
<%= subcatagory.name %>
<% end %>