<div class="w-auto p-3" style='background-color:#66ffcc;'>
<section style="margin-top: 40px; margin-bottom: 20px;">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center">
       <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>
                  <div class="field form-outline mb-4">
                    <%= f.label :profile_pic, class:"form-label" %><br />
                    <%= f.file_field :image, class: "form-control form-control-lg" %>
                  </div>
                  <div class="row">
                    <div class="field form-outline mb-4 col-md-6">
                      <%= f.label :First_Name, class:"form-label" %><br />
                      <%= f.text_field :first_name, autofocus: true, autocomplete: "name", class: "form-control form-control-lg" %>
                    </div>
                    <div class="field form-outline mb-4 col-md-6">
                      <%= f.label :Last_Name, class:"form-label" %><br />
                      <%= f.text_field :last_name, autofocus: true, autocomplete: "name", class: "form-control form-control-lg" %>
                    </div>
                  </div>

                  <div class="field form-outline mb-4">
                    <%= f.label :email, class:"form-label" %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg" %>
                  </div>

                  <div class="row">
                    <div class="field form-outline mb-4 col-md-6">
                      <%= f.label :password, class:"form-label" %>
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br />
                      <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-lg" %>
                    </div>

                    <div class="field form-outline mb-4 col-md-6">
                      <%= f.label :password_confirmation, class:"form-label" %><br />
                      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-lg" %>
                    </div>
                  </div>

                  <div class="field form-outline mb-4">
                    <%= f.label :phone_number, class:"form-label" %><br />
                    <%= f.telephone_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control form-control-lg" %>
                  </div>
                  <div class="field form-outline mb-4">
                    <%= f.label :Country_Name, class:"form-label" %><br />
                    <%= f.select :country_id, options_from_collection_for_select(Country.all, "id", "name"),
                    { prompt: "Select A Country" },class:"country form-control form-control-lg" %>
                  </div>
                  <div class="row">
                    <div class="field form-outline mb-4 col-md-6">
                      <%= f.label :State_Name, class:"form-label" %><br />
                      <%= f.select :state_id, '',{ prompt: "Select A State" },disabled: true,id:"select_state",class:"form-control form-control-lg" %>
                      
                    </div>
                    <div class="field form-outline mb-4 col-md-6">
                      <%= f.label :City_Name, class:"form-label" %><br />
                      <%= f.select :city_id, '',{ prompt: "Select A City" },disabled: true,id:"select_city",class:"form-control form-control-lg" %>
                    </div>
                  </div>

                  <div class="field form-outline mb-4">
                    <%= f.label :Choose_role, class:"form-label" %><br />
                    <%= f.select :role, ['customer', 'seller'],class:"form-control form-control-lg" %>
                    
                  </div>

                  <div class="actions d-flex justify-content-center">
                    <%= f.submit "Sign up",class:"btn btn-success btn-block" %>
                  </div>
                <% end %>
                 <p class="text-center text-muted mt-5 mb-0">Have already an account? 
                  
                  <%= render "devise/shared/links",class:"fw-bold text-body" %>
                  </p>
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>



<script>
  $(document).ready(function () {
    $('.country').on('change', function() {
      var selected_value=$(this).val();
      console.log(selected_value)
      $("#select_state").removeAttr('disabled');
      $.ajax({
        type:"get",
        url:"/states?country="+selected_value
      });

    });
    $('#select_state').on('change', function() {
      var selected_value=$(this).val();
      $("#select_city").removeAttr('disabled');
      $.ajax({
        type:"get",
        url:"/cities?state="+selected_value
      });

    });
  });

</script>

