  <div class="row row-cols-1 row-cols-md-3 g-4 py-5 px-5" style="margin-left: 200px;" >
    <% Product.all.each do |product| %>
      <div class="col">
        <div class="card h-100">
            <% if product.images.present? %>
              <%= link_to image_tag(product.images[0].url ,class:'card-img-top'),catagories_subcatagories_product_path(product) %>
            <% end %>
            
          <div class="card-body">
            <h5 class="card-title"><%= link_to product.name,catagories_subcatagories_product_path(product) %></h5>
            <small><%= product.price %></small>
            <p class="card-text">This lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <% if user_signed_in? && current_user.admin? %>
            <div class="card-footer">  
              <%= link_to 'Show', catagories_subcatagories_product_path(product) ,class:"btn btn-primary" %>
              <%= link_to 'edit', edit_admin_product_path(product), class:"btn btn-primary"  %>
              <%= link_to 'remove', myproduct_path(product), method: :delete,
              data: { confirm: 'Are you sure?' },class:"btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>  
