<%= link_to 'my products', myproducts_path %>
<div claass='container' >
  <div class="row row-cols-1 row-cols-md-2 g-4 py-5 px-5" >
    <div class='col'>
      <% if @product.images.present? %>
        <%= image_tag @product.images[0].url ,style:'width:200px' %>
      <% end %>
    </div>
    <div class='col'>
      <div>
        <h5><%= @product.name %></h5>
      </div>
      <div>
        <p><%= @product.price %></p>
      </div>
      <div>
        <p><%= @product.user.first_name %></p>
      </div>
        <%= link_to catagories_subcatagories_likes_path(product_id: @product.id,
        user_id: current_user.id), method: :post do %>
          <i class='far fa-thumbs-up' id='Liked'></i>
        <% end %>


        <br />
        <% @product.subcatagories.each do |subcatagory| %>
            <%= subcatagory.name %>
        <% end %>
      <div id='add_cart'>
      <button type="button" class="btn bg-transparent btn-lg border-primary rounded-pill " value='1' >Add To Cart</button>
      </div>

    <div>
    </div>
  </div>
</div>

<%= render 'catagories/subcatagories/comments/comment' %>
<%= render 'catagories/subcatagories/comments/form' %> 

<script>
    $(document).ready(function () {
        var like_value=$("#Like").value;
        console.log(like_value);
        $("#Like").on("click" ,function(e) {
            var btn_press= $(this).html();
            console.log(btn_press);
        });
        $(".btn").on("click" ,function(e) {
          var btn_press= $(this).html();
            console.log(btn_press);
            var product_id = <%= @product.id %>
            var user_id = <%= @product.id %>
            // debugger
            $.ajax({
              type:"post",
              url:"/cart_products?product_id="+product_id
              // debugger 
              // data: { product_id: product_id }
            });
        });

    });

</script>