<%= form_for @catagory do |f| %>
  <% if @catagory.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@catagory.errors.count, "error") %> prohibited
        this catagory from being saved:
      </h2>
      <ul>
        <% @catagory.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id, value: current_user.id%>
  <%= f.text_field :name %>
  <%= f.submit "Submit" %>
<% end %>
