<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<div class="m-3">
  <table id="catagory-datatable" class="order-column cell-border row-border stripe table-bordered" data-source="<%= catagories_path(format: :json) %>">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Subcategory</th>
        <th>Show</th>
        <th>edit</th>
        <th>remove</th>
      </tr>
    </thead>
    <tbody>
      <% @catagories.each do |catagory| %>
        <tr class="table-info hover">
          <td><%= catagory.id %></td>
          <td><%= catagory.name %></td>
          <td>
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style='background:#F1F6F7;' >
                SubCategories
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <table class="table table-striped">
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                </tr>
                <% catagory.subcatagories.each do |subcatagory| %>
                <tr class='table-info'>
                  <td><li><%= subcatagory.id %></li></td>
                  <td><li><%= subcatagory.name %></li></td>
                </tr>
                <% end %>
              </table>
              </ul>
            </div>
          </td>
          <td><%= link_to 'Show', catagory_path(catagory) %></td>
          <td><%= link_to 'edit', edit_catagory_path(catagory) %></td>
          <td><%= link_to 'remove', catagory_path(catagory), method: :delete, data: { confirm: 'Are you sure?' } %></td>        
          
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

<script>
  $(window).on('load', function() {
    var t = $('#catagory-datatable').DataTable();
    $("body").css("background-color","#5BB9B8");
  });
</script>
