<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<section style="background-color: #f7f6f6;">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <div class="card">
        <%= form_for @comment,url: catagories_subcatagories_comments_path,method: :post , :remote => true do |f| %>
          <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
            <div class="d-flex flex-start w-100">
               <% if current_user.image.present? %>
                <%= image_tag current_user.image.url,class:"rounded-circle shadow-1-strong me-3", style: "width: 40px; height: 40px" %>
               <% end %>
                 <%= f.hidden_field :user_id, value: current_user.id%>
                 <%= f.hidden_field :product_id, value: @product.id%>
                 <%= f.hidden_field :score, id: 'ScoreId', value: "" %>
              <div class="form-outline w-100">
              <div class="pb-2" id="rateYo" ></div>
                <%= f.text_area :body,class:"form-control",rows:"4",style:"background: #fff;",placeholder:'write a comment here' %>
              </div>
            </div>
            <div class="float-end mt-2 p-1">
              <%= f.submit id:'submit' %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
$(document).ready(function () {
  $(function () {
    $("#rateYo").rateYo({
      starWidth: "20px",
      spacing   : "5px",
      rating : 4.5,
      multiColor: {
        "startColor": "#cc0000",
        "endColor"  : "#ffcc00"
      }
    })
    .on("rateyo.set", function (e, data) {
      var rating= data.rating;
      document.getElementById("ScoreId").value = rating;
    });
  });
});

</script>