
  <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Container wrapper -->
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
      aria-expanded="false" id="#manue"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-3">
        <li class="nav-item">
          <a class="nav-link active d-flex align-items-center" aria-current="page" href="#"><i
              class="fas fa-bars pe-2"></i>Menu</a>
        </li>
      </ul>
      <form class="d-flex align-items-center w-100 form-search" action="/catagories/subcatagories/products" >
        <div class="input-group">
          <button class="btn btn-light dropdown-toggle shadow-0" type="button" data-bs-toggle="dropdown"
            aria-expanded="false" style="padding-bottom: 0.4rem;">All
          </button>
          <ul class="dropdown-menu dropdown-menu-dark fa-ul">
              <% Subcatagory.all.each do |subcategory| %>
               <li>
                <%= link_to subcategory.name, catagories_subcatagories_products_path(subcatagory: subcategory.id),
                class:"dropdown-item"  %>
               </li>
              <% end %>
            <li>
              <%= link_to 'All', catagories_subcatagories_products_path, class:"dropdown-item" %>
            </li>
          </ul>
          <input type="search" class="form-control" placeholder="Search" id="search" name="q" aria-label="Search" >
          <button class="btn btn-primary" type="submit"><i class="fas fa-search ps-3"></i></button>
        </div>
      </form>
      <ul class="navbar-nav ms-3">
      <% if user_signed_in? %>
        <li class="nav-item me-3">
           <%= link_to cart_path(current_user.cart), :class=> "nav-link d-flex align-items-center me-3" do %>
             <i class="fas fa-shopping-cart" aria-hidden="true" target="_blank"></i>
           <% end %>
        </li>
      <% end %>
        <li class="nav-item px-1 mx-1">
          <% if user_signed_in? %>
            <% if current_user.admin? %>
              <%= link_to "DASHBOARD",admin_dashboard_index_path,class:"nav nav-link" %>
            <% else %>
            <div class="dropdown">
              <button class="btn dropdown-toggle shadow-0" type="button" data-bs-toggle="dropdown" id="dropdownMenuButton2"
                aria-expanded="false" style="padding-bottom: 0.4rem; color:white;">
                <%# <i class="fa fa-user"></i> %>
                my account
              </button>
              <ul class="dropdown-menu dropdown-menu-dark fa-ul" aria-labelledby="dropdownMenuButton2" >
                <li>
                  <strong class="dropdown-item active"><%= current_user.first_name %></strong>
                </li>
                <li>
                <%= link_to 'My profile', user_path(current_user) , class:"dropdown-item nav-link d-flex align-items-center" %>
                </li>
                <li>
                <%= link_to 'My Orders', orders_path , class:"dropdown-item nav-link d-flex align-items-center" %>
                </li>
              </ul>  
            <% end %>
          <% else %>
            <%= link_to "Sign Up", new_user_registration_path,class:"nav-link d-flex align-items-center mx-1"  %>
          <% end %>
          </li>
          <li class="nav-item">
            <% if user_signed_in? %>
            <%= button_to "Logout", destroy_user_session_path,method: :delete, 
            class:"nav-link d-flex align-items-center bg-transparent border-0" %>
          </li>
          <li class="nav-item">
            <% else %>
              
              <%= link_to "Login", new_user_session_path,class:"nav-link d-flex align-items-center"  %>
          <% end %>
        </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
    $(document).ready(function () {
        $(".manue").on("click" ,function(e) {

        });

        $("#searchk").on("change",function (e) {
          console.log(this);
          $.ajax ({
            type: "get",
            url: "/catagories/subcatagories/products"
          });
        });
    });

</script>