<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

<% if current_user.admin? %>
  <table id="order-datatable" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Order ID</th>
        <th>Order Placed At</th>
        <th>Products & Quantity</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr class="table-info">
          <td><%= order.name %></td>
          <td><%= order.email %></td>
          <td><%= order.id %></td>
          <td><%= order.created_at %></td> 
          <td>
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style='background:#F1F6F7;' >
              Products & Quantity
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <table class="table table-striped">
              <tr>
                <th>Quantity</th>
                <th>Product</th>
                <th>Price</th>
              </tr>
              <% order.orderproducts.each do |product| %>
              <tr class='table-info'>
                <td><li><%= product.quantity %></li></td>
                <td><li><%= product.product.name %></li></td>
                <td><li><%= product.total_price %></li></td>
              </tr>
              <% end %>
              <tr class=" border border-4 border-start-0 border-end-0" >
              <th> Total Price</th>
              <td class="text-end" ><%= order.sub_total %></td>
              </tr>
            </table>
            </ul>
          </div>
          </td>   
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <h2>All Orders</h2>
  <table id="order-datatable" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Order ID</th>
        <th>Order Placed At</th>
        <th>Products & Quantity</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% current_user.orders.each do |order| %>
        <tr class="table-info">
          <td><%= order.name %></td>
          <td><%= order.email %></td>
          <td><%= order.id %></td>
          <td><%= order.created_at %></td> 
          <td>
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style='background:#F1F6F7;' >
              Products & Quantity
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <table class="table table-striped">
              <tr>
                <th>Quantity</th>
                <th>Product</th>
                <th>Price</th>
              </tr>
              <% order.orderproducts.each do |product| %>
              <tr class='table-info'>
                <td><li><%= product.quantity %></li></td>
                <td><li><%= product.product.name %></li></td>
                <td><li><%= product.total_price %></li></td>
              </tr>
              <% end %>
              <tr class=" border border-4 border-start-0 border-end-0" >
              <th> Total Price</th>
              <td class="text-end" ><%= order.sub_total %></td>
              </tr>
            </table>
            </ul>
          </div>
          </td>   
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

<script>
  $(document).ready( function () {
    var t = $('#order-datatable').DataTable();
    $("body").css("background-color","#e6ffff");
  });
</script>