<h2>kk</h2>
<%= form_for(@order) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true, autofocus: true,value:current_user.first_name %>
  </p>
  <p>
  <%= f.hidden_field :user_id, value:current_user.id %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email,value:current_user.email %>
  </p>
  <p>
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>






<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Order Now</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Order Detail</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_for(@order) do |f| %>
       <div class="modal-body">
        <form>
          <div class="mb-3">
            <%= f.label :name, class:"col-form-label" %><br>
            <%= f.text_field :name, required: true, autofocus: true,class:"form-control", id:"user-name",value:current_user.first_name %>
          </div>
           <%= f.hidden_field :user_id, value:current_user.id %>
          <div class="mb-3">
            <%= f.label :email, class:"col-form-label" %><br>
            <%= f.text_field :email, required: true, autofocus: true,class:"form-control", id:"user-email",value:current_user.email %>
          </div>
          <div class="mb-3">
            <%= f.label :address, class:"col-form-label" %><br>
            <%= f.text_area :address, required: true, autofocus: true,class:"form-control", id:"user-email" %>
          </div>
        </form>
       </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= f.submit 'Confirm Order',class:"btn btn-primary" %>  
      </div>
      <% end %>
    </div>
  </div>
</div>  


