<% if @cart.cart_products.present? %>
<section class="h-100" style="background-color: #eee;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Your Shopping Cart</h3>
          <div>
            <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                  class="fas fa-angle-down mt-1"></i></a></p>
          </div>
        </div>
        <% @cart.cart_products.each do |cart_product| %>
          <div class="card rounded-3 mb-4" id="product_cart-<%= cart_product.id %>">
            <div class="card-body p-4">
              <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-2 col-lg-2 col-xl-2">
                <% if cart_product.product.images.present? %>
                 <%= link_to image_tag(cart_product.product.images[0].url,style:'width:100px' ),catagories_subcatagories_product_path(cart_product.product) %>
                <% end %>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                  <p class="lead fw-normal mb-2"><%= cart_product.product.name %></p>
                  <%# <p><span class="text-muted">Size: </span>M <span class="text-muted">Color: </span>Grey</p> %>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                  <button class="btn btn-link px-2 minus" id="minus-<%= cart_product.id %>"
                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                    <i class="fas fa-minus"></i>
                  </button>

                  <input min="1" name="quantity" value="<%= cart_product.quantity %>" type="number"
                      id='input-<%= cart_product.id %>' class="form-control form-control-sm" readonly />

                  <button class="btn btn-link px-2 plus" id="<%= cart_product.id %>"
                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                  <h5 class="mb-0" id='product-price-<%= cart_product.id %>' ><%= number_to_currency(cart_product.total_price) %></h5>
                </div>
                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                  <button type="button" class="btn bg-transparent text-danger" id='<%= cart_product.id %>' ><i class="fas fa-trash fa-lg"></i></button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class="card mb-4">
          <div class="card-body p-4 d-flex flex-row">
            <div class="form-outline flex-fill">
            <p><strong>Total Price</strong></p>
            </div>
            <p class="fs-6 fw-light border border-secondary p-1" id='total_price'> <%= number_to_currency(@cart.sub_total) %></p>
            <%# <button type="button" class="btn btn-outline-warning btn-lg ms-3">Apply</button> %>
          </div>
        </div>
        <%# <div class="card mb-4">
          <div class="card-body p-4 d-flex flex-row">
            <div class="form-outline flex-fill">
              <input type="text" id="form1" class="form-control form-control-lg" />
              <label class="form-label" for="form1">Discound code</label>
            </div>
            <button type="button" class="btn btn-outline-warning btn-lg ms-3">Apply</button>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <button type="button" class="btn btn-warning btn-block btn-lg">Proceed to Pay</button>
          </div>
        </div> %>
        <div class="card">
          <div class="card-body">
            <button type="button" class="btn btn-warning btn-block btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Order Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  
<% else %>
  <div class='text-center mt-5'>
  <h3>Your cart is empty</h3>
  </div>
<% end %>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Order Detail</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_for(Order.new) do |f| %>
       <div class="modal-body">
        <form>
          <div class="mb-3">
            <%= f.label :name, class:"col-form-label" %><br>
            <%= f.text_field :name, required: true, autofocus: true,class:"form-control", id:"user-name",value:current_user.first_name %>
          </div>
           <%= f.hidden_field :user_id, value:current_user.id %>
          <div class="mb-3">
            <%= f.label :email, class:"col-form-label" %><br>
            <%= f.text_field :email, required: true, autofocus: true,class:"form-control", id:"user-email",value:current_user.email %>
          </div>
          <div class="mb-3">
            <%= f.label :address, class:"col-form-label" %><br>
            <%= f.text_area :address, required: true, autofocus: true,class:"form-control", id:"user-email" %>
          </div>
        </form>
       </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= f.submit 'Confirm Order',class:"btn btn-primary" %>  
      </div>
      <% end %>
    </div>
  </div>
</div>  



<script>
    $(document).ready(function () {
      $("[id*=minus-]").each(function() {
        this.style.color = "red";
        var a=$(this).attr('id')
        var b=parseInt(a.replace(/[^0-9.]/g, ""));
        var c=$("[id='input-" + b+ "']").val();
        if (c==1) {
          $("[id='minus-" + b+ "']").prop('disabled', true);
        }
        });
        $(".text-danger").on("click" ,function(e) {
          var btn_press= $(this).attr('id');
            $.ajax({
              type:"delete",
              url:"/cart_products/"+btn_press
            });
        });
        $('.plus').on('click', function(e) {
           var btn_press= $(this).attr('id');
           $.ajax({
              type:"post",
              url:"/cart_products/"+btn_press+"/add_quantity"
            }); 
        });
        $(".minus").on("click" ,function(e) {
          var btn= $(this).attr('id');
          var btn_press=parseInt(btn.replace(/[^0-9.]/g, ""));
          var y=$("[id='input-" + btn_press+ "']").val();
           if (y==1) {
            $("[id='minus-" + btn_press+ "']").prop('disabled', true);
            }
            $.ajax({
              type:"post",
              url:"/cart_products/"+btn_press+"/reduce_quantity"
            });
        });
    });

</script>