<%= form_for [:admin, @product] do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited
        this product from being saved:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id, value: current_user.id%>
  <%= f.text_field :name, placeholder: "Name of Product" %>
  <%= f.number_field :price, placeholder: "price" %>
  <%= f.file_field :images, multiple: true %>
  <%#= f.label :select_catagory %>
  <%#= f.select :subcatagory_ids, options_for_subcatagory,:prompt => 'Select One' %>

  <div class="field">
    <% if @product.subcatagories.present? %>
      <% @product.subcatagories.each do |subcatagory| %>
        <%= subcatagory.name %>
      <% end %>
      <h4>want update Subcategory</h4>
      <%= f.label :Select_Catagory %><br />
      <%= select_tag('catagory', options_from_collection_for_select(Catagory.all, "id", "name"),
        { prompt: "Select A Category",class:"catagory" }) %><br />
      <div>  
        <%= f.select :subcatagory_ids,'',{ prompt: 'select a Subcategory' },{:multiple => true, :size => 4,hidden: true,id:'select_subcatagory' } %>  
    <% else %>
      <%= f.label :Select_Catagory %><br />
      <%= select_tag('catagory', options_from_collection_for_select(Catagory.all, "id", "name"),
        { prompt: "Select A Category",class:"catagory" }) %><br />
      <%= f.select :subcatagory_ids,'',{ prompt: 'select a Subcategory' },{:multiple => true, :size => 4,hidden: true,id:'select_subcatagory' } %>  
    <% end %>
   </div>
  </div>
  
  <%= f.submit "Submit" %>
<% end %>
<script>
  $(document).ready(function () {
    $('.catagory').on('change', function() {
      var selected_value=$(this).val();
      console.log(selected_value);
      $("#select_subcatagory").removeAttr('hidden');
      $.ajax({
        type:"get",
        url:"/subcatagories/"+selected_value+"/get_subcategory"
      });

    });

  });

</script>
