<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<h1>All Products</h1>
<table id="product_datatable" class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Image</th>
      <th>Product Subcategory</th>
      <th>show</th>
      <th>edit</th>
      <th>remove</th>
    </tr>
  </thead> 
  <tbody>
    <% @products.each do |product| %>
      <tr class="table-info hover">
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <% if product.images.present? %>
         <td> <%= image_tag product.images[0].url ,style:'width: 30px; display: block' %></td>
        <% else %>
        <td>no image</td>
        <% end %>
        <td>
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style='background:#F1F6F7;' >
              Product Subcategory
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <table class="table table-striped">
              <tr>
                <th>Name</th>
              </tr>
              <% product.subcatagories.each do |subcatagory| %>
              <tr class='table-info'>
                <td><li><%= subcatagory.name %></li></td>
              </tr>
              <% end %>
            </table>
            </ul>
          </div>
        </td>
        <td><%= link_to 'Show', admin_product_path(product) %></td>
        <td><%= link_to 'edit', edit_admin_product_path(product) %></td>
        <td><%= link_to 'remove', admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></td>        
        
      </tr>
    <% end %>
  </tbody>

</table>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

<script>
  $(window).on('load', function() {
    var t = $('#product_datatable').DataTable();
      $("body").css("background-color","#5BB9B8");
  });
</script>
