<div claass='container' >
  <div class="row row-cols-2 row-cols-md-2 g-4 py-5 px-5" >
    <div class='col'>
      <% if @product.images.present? %>
        <%= image_tag @product.images[0].url ,style:'width:200px' %>
      <% end %>
    </div>
    <div>
      <div>
        <p><%= @product.name %></p>
      </div>
      <div>
        <p><%= @product.price %></p>
      </div>
      <div>
        <p><%= @product.user.first_name %></p>
      </div>
      
        <% @product.subcatagories.each do |subcatagory| %>
            <%= subcatagory.name %>
        <% end %>


    <div>
    </div>
  </div>
</div>