<h1>All Users</h1>
<table class="table table-striped">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Image</th>
    <th>Current Status</th>
    <th colspan="3"></th>
  </tr>
 
  <% @users.each do |user| %>
    <tr class="table-info">
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.phone_number %></td>
      <% if user.image.present? %>
       <td><%= image_tag user.image.url, style: "width: 30px; display: block" %>
       </td>
       <% else %>
       <td>no image</td>
      <% end %>
      <td><%= user.status %></td>
      <td><%= link_to 'Show', admin_user_path(user) %></td>
      <td><%= link_to 'edit', edit_admin_user_path(user) %></td>
      <td><%= link_to 'remove', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td><%= user.status %></td>
      <td></td>
      
    </tr>
  <% end %>